*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: url(https://images.pexels.com/photos/1428277/pexels-photo-1428277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
}
.loginpage{
    width: 350px;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
}
.loginpage h1{
    font-size: 40 px;
    text-align: center;
}
.loginpage p{
    font-size: 20 px;
    margin-left: 5%;
}
.loginpage input{
    font-size: 16 px;
    width: 80%;
    padding: 15px 10px;
    border-radius: 5px;
    margin-left: 5%;
}
.button{
    font-size: 18px;
    margin:20px;
    padding: 2px 4px;
}